.friendListItem {
  display: flex;
  flex-direction: column;
  gap: 6px;
  align-items: center;
  justify-content: center;
  padding: 15px;
  border: 1px solid black;
  border-radius: 5px;
  margin-bottom: 30px;
}
